.input-base {
  height: 3rem;
  font-size: 2rem;
  bottom: 2rem;
  border-radius: 1rem;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: $base-color;
  border: none;
  box-shadow: inset 2px 2px 0 $right-color, inset -2px -2px 0 $left-color;
  transition: background-color 0.3s ease;
  &:focus,
  &:hover {
    background-color: $focus-color;
  }
}

.input-disabled {
  box-shadow: 2px 2px 0 $right-color, -2px -2px 0 $left-color;
  &:focus,
  &:hover {
    background-color: $base-color;
  }
}
